<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Todo App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:text="${name}" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            User
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end bg-light border-0">
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Form tambah -->
    <div class="container">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-primary col-lg-2 col-4 my-2" data-bs-toggle="modal"
                data-bs-target="#create">Tambah Task</button>
            <div class="container mt-2">
                <div class="d-flex flex-column align-items-center gap-3">
                    <!-- daftar todo -->
                    <div class="card bg-body-secondary col-md-5 col-12">
                        <div class="card-body d-flex flex-column">
                            <h3 class="fs-5 text-center">Daftar Todo</h3>
                            <ul class="list-group gap" th:each="todo : ${todos}">
                                <li class="list-group-item mb-1">
                                    <div class="todo d-flex justify-content-between">
                                        <p class="fs-5" th:text="${todo.task}"></p>
                                        <div class="btn-grup d-flex gap-2 p-1">
                                            <form th:action="@{/todos/delete/{id}(id=${todo.id})}" method="post">
                                                <button type="submit" class="btn btn-outline-danger"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-x-square-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                                                    </svg></button>
                                            </form>
                                            <div>
                                                <button type="button" class="btn btn-outline-warning"
                                                    th:data-url="@{/findById(id=${todo.id})}" data-bs-toggle="modal"
                                                    data-bs-target="#editModal"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor"
                                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path
                                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd"
                                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                    </svg></button>
                                            </div>

                                            <form th:action="@{/done/{id}(id=${todo.id})}" method="post">
                                                <button type="submit" class="btn btn-outline-success"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-check-square-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                                                    </svg></button>
                                            </form>
                                        </div>
                                    </div>
                                    <hr class="border border-dark-subtle border-1 opacity-75">
                                    <p th:text="${todo.date}"></p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Todo Yang disselesaikan -->
                    <div class="card bg-body-secondary col-md-5 col-12">
                        <div class="card-body d-flex flex-column">
                            <h3 class="fs-5 text-center">Sudah Dilakukan</h3>
                            <ul class="list-group gap-2" th:each="todo : ${finishedTodos}">
                                <li class="list-group-item mb-1">
                                    <div class="todo d-flex justify-content-between">
                                        <p class="fs-5" th:text="${todo.task}"></p>
                                        <div class="btn-grup d-flex gap-2 p-1">
                                            <form th:action="@{/todos/delete/{id}(id=${todo.id})}" method="post">
                                                <input type="hidden" th:name="${_csrf.parameterName}"
                                                    th:value="${_csrf.token}" />
                                                <button type="submit" class="btn btn-outline-danger"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-x-square-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                                                    </svg></button>
                                            </form>
                                            <div>
                                                <button type="button" class="btn btn-outline-warning"
                                                    th:data-url="@{/findById(id=${todo.id})}" data-bs-toggle="modal"
                                                    data-bs-target="#undoModal"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor" class="bi bi-repeat"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                                                    </svg></button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="border border-dark-subtle border-1 opacity-75">
                                    <p th:text="${todo.date}">07/12/2025</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal edit -->
    <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/todos/edit}" th:object="${todo}" method="post" class="d-flex flex-column"
                    id="editForm">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editModalLabel">Edit Todo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body gap-2 px-3 d-flex flex-column">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="id" id="edit-id" />

                        <label for="edit-task">Kegiatan</label>
                        <input type="text" name="task" id="edit-task" class="form-control">

                        <label for="edit-date">Deadline</label>
                        <input type="date" name="deadline" id="edit-date" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- modal undo -->
    <div class="modal fade" id="undoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="undoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/undo}" th:object="${todo}" method="post" class="d-flex flex-column" id="editForm">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="undoModalLabel">Ulangi Todo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body gap-2 px-3 d-flex flex-column">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="id" id="undo-id" />
                        <label for="edit-date">Deadline</label>
                        <input type="date" name="deadline" id="undo-date" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- modal create -->
    <div class="modal fade" id="create" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="createLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/todos/create}" th:object="${todo}" method="post" class="d-flex flex-column"
                    id="createForm">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createLabel">Tambah Todo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body gap-2 px-3 d-flex flex-column">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <label for="task">Kegiatan</label>
                        <input type="text" name="task" id="todo">
                        <label for="deadline">Deadline</label>
                        <input type="date" name="deadline" id="deadline">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}" src="../static/js/script.js"></script>
</body>

</html>